{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container" >
  <br>
{% if not user.is_authenticated %}   
   
  <form method="post" action="{% url 'login' %}" >

    {% csrf_token %}
    {{form | crispy}}
    <input type="hidden" name="next" value="{{request.GET.next}}" >
    <button class="w-100 btn btn-lg btn-success" type="submit">Login</button>

  </form>

{% else %}
    <h4>Yoy Have Already Logged in Do You Want To <a href="{% url 'logout'%}" >Logout?</a></h4>
{% endif %}
<br>
<h5>don't have an account?<a href="{% url 'register'%}" >register</a></h5>
<br>

<a class="btn btn-primary" href="{% url 'home'  %}">Back To Home</a>

</div>
{% include 'footer.html' %}
{% endblock %}