{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
{% include 'navbar.html' %}
<div class="album py-4 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">

        {% for product in products %}

        <div class="col">
          <div class="card shadow-sm">
            <a href="{% url 'product-detail' product.pk %}" ><img width="298px" height="300px" src="{{product.images.first.image.url}}" ></a>
            <div class="card-body">
              <p class="card-text">{{product.name}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="{% url 'product-detail' product.id %}" > More Detail </a>
                </div>
                <small class="text">{{product.price}}$</small>
              </div>
            </div>
          </div>
        </div>

        {% endfor %} 

      </div>
    </div>
  </div>
<br>
<br>
<br> 
{% include 'footer.html' %}
{% endblock %}






