{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<br>

    <h5>Product Brand: {{product.brand}}</h5>
    <h5>Product Name: {{product.name}}</h5>
    <h5>Price: {{product.price}}$</h5>

    {% for image in product.images.all %}
        <img src="{{image.image.url}}" width="100px" height="100px" >
    {% endfor %}

    {% for attr in product.values.all %}
    <h5>{{attr.attribute}}: {{attr.value}}</h5>

    {% endfor %}
    <form method="post" action="{% url 'basket-add'%}">
        {% csrf_token %}
        <label for="number">Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
        <input type="hidden" id="product_id" name="product_id" value="{{product.id}}">

        <br>
        <br>
        <button class="btn btn-primary" type="submit"> Add to Basket </button>
    </form>
    


{% include 'footer.html' %}
{% endblock %}