{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<br>

    <h5>Product Brand: {{product.brand}}</h5>
    <h5>Product Name: {{product.name}}</h5>
    <h5>Price: {{product.price}}$</h5>

    {% for image in product.images.all %}
        <img src="{{image.image.url}}" width="100px" height="100px" >
    {% endfor %}

    {% for attr in product.values.all %}
    <h5>{{attr.attribute}}: {{attr.value}}</h5>

    {% endfor %}
    <a class="btn btn-primary" href="{% url 'basket-add' product.id %}" > Add to Basket </a>



{% include 'footer.html' %}
{% endblock %}