{% extends 'base.html' %}
{% load static %}


{% block content %} 
{% include 'navbar.html' %}
 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> 
<br>
<br>
<br>
<br>
<br>

 <div class="container" > 
   
  <div class="album py-4 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

       {% for product_type in product_types %} 

        <div class="col">
          <div class="card shadow-sm">
            <a href="{% url 'products' product_type.name %}"><img src="{{product_type.image.url}}" width="288px" height="300px" ></a>
            <div class="card-body">
              <p class="card-text">{{product_type.name}}</p>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

</div>



{% include 'footer.html' %}
{% endblock %}