{% extends 'base.html' %}
{% load static %}

{% block content %}

<body>
    {% include 'navbar.html' %}

<main>
  
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 bg-body-secondary">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden ">
      <div class="my-3 py-3">
        <h2 class="display-5">Computer Components</h2>
        <p class="lead">Motherboard, CPU, Graphics Card, Ram ...</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><a href="{% url 'components-list' %}" ><img src="{% static 'component.png' %}" width="600px" height="300px" ></a></div>
    </div>
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Gaming Pc</h2>
        <p class="lead">Buy Pre-Assembled Gaming PC Now!</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><a href="" ><img src="{% static 'gaming.png' %}" width="600px" height="300px" ></a></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Networking</h2>
        <p class="lead">Hubs, Switches, Routers ...</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><a href="" ><img src="{% static 'networking.png' %}" width="600px" height="300px" ></a></div>
    </div>
    <div class="text-bg-secondary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Laptop</h2>
        <p class="lead">Asus, Lenovo, HP, Apple, Acear ...</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><a href="" ><img src="{% static 'laptop.png' %}" width="600px" height="300px" ></a></div>
    </div>
  </div>
  <br>
  <br>
  <br>
</main>

  {% include 'footer.html' %}
      
  </body>

{% endblock %}