{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
   
    <meta charset="UTF-8">
    <title>E-commerce</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'product/product.css' %}" >
    <link rel="stylesheet" href="{% static 'product/list-groups.css' %}" >
    <link rel="stylesheet" href="{% static 'account/bootstrap.min.css' %}" >
    <link href="{% static 'account/sign-in.css' %}" rel="stylesheet">
    
</head>
<body>

<div class="container" >   
    {% block content %}

    {% endblock %}
</div> 

</body>
</html>
