{% extends 'base.html' %}


{% block content %}

    {% include 'navbar.html' %}
    <div class="container" >
        {% for line in basket_line %}

        <div style = "display: inline-block; justify-content : center ;
        justify-content : space-between ; margin-left: 80px;">
       
            <img src="{{line.product.images.first.image.url}}" alt="twbs" width="100" height="100" >
            <h6 class="mb-0">{{line.product.name}}</h6>
            <p class="mb-0 opacity-75">{{line.product.description}}</p>
               
            <h5>{{line.product.price}}$</h5>
            <h6>quantity: {{line.quantity}}</h6>
            <h4><a class="btn btn-danger" href="{% url 'basket-delete' line.product.id %}">delete</a></h4>  

        </div>         
           
        
        {% empty %}
            <h3> You Have No Product In Your Basket </h3>
        {% endfor %}
        <br>
        <br>
        <br>

        {% if total %}
        <h4>Total Price : {{ total | floatformat:2 }}$</h4>
        {% endif %}

    </div>        
    {% include 'footer.html' %}

{% endblock %}
