{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'navbar.html' %}


<div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Your cart</span>
        <span class="badge bg-primary rounded-pill">{{total}}</span>
      </h4>
      <ul class="list-group mb-3">

        {% for item in order_item %}

            <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
                <h6 class="my-0">{{item.product}}</h6>
            </div>
            <span class="text-muted">${{item.price}} * {{item.quantity}}</span>
            </li>
        
        {% endfor %}

        <li class="list-group-item d-flex justify-content-between">
          <span>Total</span>
          <strong>${{total_price}}</strong>
        </li>
      </ul>

      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <button type="submit" class="btn btn-secondary">Redeem</button>
        </div>
      </form>
    </div>
    <div class="col-md-7 col-lg-8">

      <form method="post" accept="{% url 'checkout' %}" >
        {{form | crispy}}
        <button type="submit" class="btn btn-success">Payment</button>

      </form>

    </div>    

</div>

{% include 'footer.html' %}
{% endblock %}