{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'navbar.html' %}


<div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Your cart</span>
        <span class="badge bg-primary rounded-pill">{{total_item}}</span>
      </h4>
      <ul class="list-group mb-3">

        {% for item in order_item %}

            <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
                <h6 class="my-0">{{item.product}}</h6>
            </div>
            <span class="text-muted">${{item.price}} * {{item.quantity}}</span>
            </li>
        
        {% endfor %}

        <li class="list-group-item d-flex justify-content-between">
          <span>Total</span>
          <strong>${{total_price}}</strong>
        </li>
      </ul>

      <form class="card p-2">
    
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <button type="submit" class="btn btn-secondary">Redeem</button>
        </div>
      </form>
      <br>
      <h4><a class="btn btn-danger" href="{% url 'order-delete'%}">Delete Order</a></h4>  

    </div>

    <div class="col-md-5">
      <label for="country" class="form-label">Address</label>

      {% if addresses %}
        <form method="post" action="{% url 'checkout' %}" >
          {% csrf_token %}
          <select class="form-select" name="address" required>
            <option value="">Choose...</option>
              {% for address in addresses %}
                <option value="{{address.id}}" >{{address}}</option>
              {% endfor %}
          </select>
          <br>
          <br>
          <br>
          <button type="submit" class="btn btn-success">Payment</button>
        </form>
      {% else %}
        <h4><a class="btn btn-success" href="{% url 'address-add' %}">Add Address +</a></h4>  
      {% endif %}
      

    </div>

</div>

{% include 'footer.html' %}
{% endblock %}